<%- include("partials/header") -%>
        
    <div class="post--page">

        <h1> <%= postTitle %> </h1>
        <img src="/images/marjan-taghipour.jpg" class="posts-feature-image">
        <div class="post-content">
            <p> <%= postContent %> </p>
        </div>
    </div>


<%- include("partials/footer") -%>

